:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.9 );
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

.flex {
  display: flex;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

input {
  padding: 12px;
  color: #111;
  background: rgba(0, 0, 0, 0.05 );
  border: .5px rgba(0, 0, 0, 0.075 );
}

li {
  gap: 1rem;
}

form div {
  padding-bottom: 12px;
}

.person {
  padding: 0 0 12px 0;
}

.error {
  color: #ffffff;
  background: #dd1200;
  font-size: 1rem;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notificationWrapper {
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}

.success {
  color: #ffffff;
  background: #21df00;
  font-size: 1rem;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  border-radius: 4px;
  border: none;
  padding: 4px 12px;
  font-size: .75em;
  font-weight: 400;
  font-family: inherit;
  color: #111111;
  background-color: rgba(0, 0, 0, 0.25 );
  cursor: pointer;
  transition: backkground-color 0.35s;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.125 );
  color: #111;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


